In [2]:
import json
import requests
import datetime
import base64

In [3]:
from config import client_id
from config import client_secret

In [4]:
from __my_spotify import SpotifyAPI
import spotipy 
from spotipy.oauth2 import SpotifyClientCredentials

In [5]:
import pandas as pd

In [6]:
from urllib.parse import urlencode

In [68]:
from matplotlib import pyplot as plt
import numpy as np

In [7]:
client = SpotifyAPI(client_id, client_secret)

In [8]:
client.perform_auth()

True

In [9]:
client_access_token = client.access_token

In [10]:
csv_path = "../Resources/top_songs_of_2010_decade.csv"

In [11]:
decade_df = pd.read_csv(csv_path, encoding = 'cp1252')

In [12]:
del decade_df["Unnamed: 0"]
decade_df.head()

,title,artist,top genre,year,bpm,nrgy,dnce,dB,live,val,dur,acous,spch,pop
0,"Hey, Soul Sister",Train,neo mellow,2010,97,89,67,-4,8,80,217,19,4,83
1,Love The Way You Lie,Eminem,detroit hip hop,2010,87,93,75,-5,52,64,263,24,23,82
2,TiK ToK,Kesha,dance pop,2010,120,84,76,-3,29,71,200,10,14,80
3,Bad Romance,Lady Gaga,dance pop,2010,119,92,70,-4,8,71,295,0,4,79
4,Just the Way You Are,Bruno Mars,pop,2010,109,84,64,-5,9,43,221,2,4,78

In [13]:
song_title_list = decade_df['title'].tolist()

In [38]:
### SEARCH API

#song_title_ids = []

#for song in song_title_list:
#    headers = {
#        "Authorization" : f"Bearer {client_access_token}"
#    }

#    endpoint = "https://api.spotify.com/v1/search?"
#    data = urlencode({"q": song,
#                      "type" : "track",
#                      "limit" : 20
#                     })

#    lookup_url = f"{endpoint}{data}"

#    response = requests.get(lookup_url, headers=headers).json()
    
#    song_title_ids.append(response["tracks"]["items"][0]["id"])

#    print(json.dumps(response, indent = 4))

In [101]:
genre_by_year_count = decade_df.groupby(['year', 'top genre'])
genre_by_year_count.count().head()

                     title  artist  bpm  nrgy  dnce  dB  live  val  dur  \
year top genre
2010 art pop             1       1    1     1     1   1     1    1    1
     atl hip hop         3       3    3     3     3   3     3    3    3
     australian pop      2       2    2     2     2   2     2    2    2
     barbadian pop       2       2    2     2     2   2     2    2    2
     big room            1       1    1     1     1   1     1    1    1

                     acous  spch  pop
year top genre
2010 art pop             1     1    1
     atl hip hop         3     3    3
     australian pop      2     2    2
     barbadian pop       2     2    2
     big room            1     1    1

In [78]:
genre_by_year = genre_by_year_count.size()

In [77]:
#genre_by_year.plot.bar()